name: Build on MacOS

on:
    workflow_call:
        inputs:
            commit-sha:
                type: string
                required: true
        outputs:
            runid:
                description: Run ID
                value: ${{github.run_id}}
    workflow_dispatch:
        inputs:
            commit-sha:
                type: string
                description: Target commit of LuaJIT.
                required: true

jobs:
    build:
        runs-on: macos-latest
        steps:

          - name: Checkout LuaJIT
            uses: actions/checkout@v4
            with:
                repository: luajit/luajit
                path: luajit
                ref: v2.1

          - name: Get Additional Resources
            shell: bash
            run: |
                echo ${{inputs.commit-sha}} >> VERSION.txt
                mkdir -p temp/include
                cp -a luajit/src/lua.h temp/include/lua.h
                cp -a luajit/src/lauxlib.h temp/include/lauxlib.h
                cp -a luajit/src/lualib.h temp/include/lualib.h
                cp -a luajit/src/luaconf.h temp/include/luaconf.h
                cp -a luajit/src/lua.hpp temp/include/lua.hpp

          - name: Build & Compress MacOS x64 Debug
            shell: bash
            run: |
                cd luajit/src
                export MACOSX_DEPLOYMENT_TARGET=11.0
                make clean && make BUILDMODE=static CCDEBUG="-g" CCOPT="-O0 -g" HOST_CC="clang -target arm64-apple-macos15" STATIC_CC="clang -target x86_64-apple-macos15" TARGET_LD="clang -target x86_64-apple-macos15" TARGET_AR="ar -r"
                cd ../..
                cp -a luajit/src/luajit.h temp/include/luajit.h
                7z a luajit_macos_x64_debug.7z ./luajit/src/libluajit.a ./temp/include VERSION.txt

          - name: Build & Compress MacOS x64 Release
            shell: bash
            run: |
                cd luajit/src
                export MACOSX_DEPLOYMENT_TARGET=11.0
                make clean && make BUILDMODE=static HOST_CC="clang -target arm64-apple-macos15" STATIC_CC="clang -target x86_64-apple-macos15" TARGET_LD="clang -target x86_64-apple-macos15" TARGET_AR="ar -r"
                cd ../..
                cp -a luajit/src/luajit.h temp/include/luajit.h
                7z a luajit_macos_x64_release.7z ./luajit/src/libluajit.a ./temp/include VERSION.txt

          - name: Build & Compress MacOS arm64 Debug
            shell: bash
            run: |
                cd luajit/src
                export MACOSX_DEPLOYMENT_TARGET=11.0
                make clean && make BUILDMODE=static CCDEBUG="-g" CCOPT="-O0 -g"
                cd ../..
                cp -a luajit/src/luajit.h temp/include/luajit.h
                7z a luajit_macos_arm64_debug.7z ./luajit/src/libluajit.a ./temp/include VERSION.txt

          - name: Build & Compress MacOS arm64 Release
            shell: bash
            run: |
                cd luajit/src
                export MACOSX_DEPLOYMENT_TARGET=11.0
                make clean && make BUILDMODE=static
                cd ../..
                cp -a luajit/src/luajit.h temp/include/luajit.h
                7z a luajit_macos_arm64_release.7z ./luajit/src/libluajit.a ./temp/include VERSION.txt

          - name: Upload Archive
            uses: actions/upload-artifact@v4
            with:
                name: luajit_macos
                path: |
                    *.7z
                retention-days: 7