name: Build on Linux

on:
    workflow_call:
        inputs:
            commit-sha:
                type: string
                required: true
        outputs:
            runid:
                description: Run ID
                value: ${{github.run_id}}
    workflow_dispatch:
        inputs:
            commit-sha:
                type: string
                description: Target commit of LuaJIT.
                required: true

jobs:
    build:
        runs-on: ubuntu-latest
        steps:

          - name: Checkout LuaJIT
            uses: actions/checkout@v4
            with:
                repository: luajit/luajit
                path: luajit
                ref: v2.1

          - name: Get Additional Resources
            shell: bash
            run: |
                echo ${{inputs.commit-sha}} >> VERSION.txt
                mkdir -p temp/include
                cp -a luajit/src/lua.h temp/include/lua.h
                cp -a luajit/src/lauxlib.h temp/include/lauxlib.h
                cp -a luajit/src/lualib.h temp/include/lualib.h
                cp -a luajit/src/luaconf.h temp/include/luaconf.h
                cp -a luajit/src/lua.hpp temp/include/lua.hpp

          - name: Install Dependencies
            shell: bash
            run: |
                sudo apt update
                sudo apt install clang
                sudo dpkg --add-architecture arm64
                sudo sed -ri '/^Components:/a Architectures: amd64' "/etc/apt/sources.list.d/ubuntu.sources"
                sudo tee /etc/apt/sources.list.d/ubuntu-ports.list >/dev/null <<'EOF'
                    deb [arch=arm64 signed-by=/usr/share/keyrings/ubuntu-archive-keyring.gpg] http://ports.ubuntu.com/ubuntu-ports noble main universe restricted multiverse
                    deb [arch=arm64 signed-by=/usr/share/keyrings/ubuntu-archive-keyring.gpg] http://ports.ubuntu.com/ubuntu-ports noble-updates main universe restricted multiverse
                    deb [arch=arm64 signed-by=/usr/share/keyrings/ubuntu-archive-keyring.gpg] http://ports.ubuntu.com/ubuntu-ports noble-backports main universe restricted multiverse
                    deb [arch=arm64 signed-by=/usr/share/keyrings/ubuntu-archive-keyring.gpg] http://ports.ubuntu.com/ubuntu-ports noble-security main universe restricted multiverse
                EOF
                sudo apt update
                sudo apt install g++-aarch64-linux-gnu

          - name: Build & Compress Linux x64 Debug
            shell: bash
            run: |
                cd luajit/src
                make clean && make BUILDMODE=static CC="clang" HOST_CC="clang" CCDEBUG="-g" CCOPT="-O0 -g"
                cd ../..
                cp -a luajit/src/luajit.h temp/include/luajit.h
                7z a luajit_linux_x64_debug.7z ./luajit/src/libluajit.a ./temp/include VERSION.txt

          - name: Build & Compress Linux x64 Release
            shell: bash
            run: |
                cd luajit/src
                make clean && make BUILDMODE=static CC="clang" HOST_CC="clang"
                cd ../..
                cp -a luajit/src/luajit.h temp/include/luajit.h
                7z a luajit_linux_x64_release.7z ./luajit/src/libluajit.a ./temp/include VERSION.txt

          - name: Build & Compress Linux arm64 Debug
            shell: bash
            run: |
                cd luajit/src
                make clean && make BUILDMODE=static CC="clang -target aarch64-linux-gnu" HOST_CC="clang" CROSS="" TARGET_SYS=Linux CCDEBUG="-g" CCOPT="-O0 -g"
                cd ../..
                cp -a luajit/src/luajit.h temp/include/luajit.h
                7z a luajit_linux_arm64_debug.7z ./luajit/src/libluajit.a ./temp/include VERSION.txt

          - name: Build & Compress Linux arm64 Release
            shell: bash
            run: |
                cd luajit/src
                make clean && make BUILDMODE=static CC="clang -target aarch64-linux-gnu" HOST_CC="clang" CROSS="" TARGET_SYS=Linux
                cd ../..
                cp -a luajit/src/luajit.h temp/include/luajit.h
                7z a luajit_linux_arm64_release.7z ./luajit/src/libluajit.a ./temp/include VERSION.txt

          - name: Upload Archive
            uses: actions/upload-artifact@v4
            with:
                name: luajit_linux
                path: |
                    *.7z
                retention-days: 7